=box-view($width, $height)
  .view
    +clearfix
    .views-row
      float: left
      width: $width
      height: $height
      padding: 5px
      border: 1px dashed #ccc
      margin: 1px
      position: relative
      .box-view-row-content
        position: relative
        width: $width
        height: $height
        margin: 0
        img
          display: block
          position: absolute
          width: $width
          height: $height
          left: 0
          top: 0
          z-index: 1
        .item-admin-links
          position: absolute
          top: 5px
          right: 5px
          margin: 0
          z-index: 20
          a
            display: block
            float: left
            background: #ddd
            padding: 2px 15px
            margin: 0 0 0 3px
        .description
          position: absolute
          bottom: 0
          width: $width - 30
          height: auto
          padding: 10px 15px
          z-index: 10
          margin: 0
          background: rgb(230, 230, 230)
          background: rgba(230, 230, 230, 0.8)
          color: #222

// Makes block-style breadcrumbs with arrow-shaped ends that fit together nicely
=block-breadcrumbs($content-bg-colour, $bg-colour, $text-colour, $hover-bg-colour, $hover-text-colour, $font-size)
  +clearfix()
  span, li
    display: block
    float: left
    a, a:link, a:active, a:focus
      display: block
      float: left
      background: $bg-colour
      padding: 0 5px 0 15px
      margin: 0 3px 2px 0
      text-align: center
      position: relative
      line-height: 20px
      font-size: $font-size
      color: $text-colour
      text-decoration: none
    a:before
      display: block
      content: ""
      position: absolute
      top: 0
      left: 0
      border-left: 10px solid $content-bg-colour
      border-top: 10px solid $bg-colour
      border-bottom: 10px solid $bg-colour
    a:after
      display: block
      content: ""
      position: absolute
      top: 0
      right: -10px
      z-index: 1
      border-left: 10px solid $bg-colour
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
    a:hover
      color: $hover-text-colour
      background: $hover-bg-colour
      text-decoration: none
      &:before
        border-color: $hover-bg-colour $content-bg-colour
      &:after
        border-color: transparent $hover-bg-colour
    &:first-child, &.first
      a, a:link, a:active, a:focus
        padding-left: 10px
        &:before
          display: none
