@import "compass/utilities/general/clearfix"
@import "mixins"
// FontAwesome
@import "font-awesome.min"

body, #page
  color: #555

table
  th, td
    color: #555

select.form-select
  min-width: 100px

.form-required
  display: inline-block
  overflow: hidden
  text-indent: -3000em
  &:before
    display: block
    float: left
    text-indent: 0

// Various tweaks to improve the overall look and feel of the site:

.breadcrumb
  ul, li
    margin: 0
    padding: 0
  +block-breadcrumbs(#333, #000, #999, #555, #fff, 12px)
  a:after, a:before
    transition: all, 0.3s


// Darken the backgrounds a bit to reduce contrast:
body, #page, .tabs.secondary, fieldset legend
  background: #f8f8f8

// Put auto-height on primary tabs, otherwise they are too short if they get pushed
// underneath the page title:
ul.primary
  height: auto
  clear: right

ul.primary
  li a,
  li.active a
    font-size: 14px
    padding: 8px 15px
    &:link, &.active, &:active, &:visited, &:hover
      font-size: 14px
      padding: 8px 15px
  li.active a
    background-color: #f8f8f8
    border-top: 5px solid #22333a
    &.active, &:active, &:visited
      background-color: #f8f8f8
      border-top: 5px solid #22333a

// Increase the size of secondary tabs:
body.adminimal-theme ul.secondary
  font-size: 1.1em
  font-weight: 300

// Make table captions larger and easier to read:
table caption
  font-size: 2.2em
  font-weight: 300
  line-height: 2.2em
  text-align: left
  background: #f8f8f8
  padding: 0 10px

// Override some styles that vertical tabs CSS imposes to "fix" an issue with the Seven them, that we are not using:
div.field-group-tabs-wrapper div.field-type-image fieldset,
div.field-group-tabs-wrapper div.field-type-file fieldset,
div.field-group-tabs-wrapper div.field-type-datetime fieldset
  padding: 1.5em

// In the event that the chosen widget is in play, we need to implement this little visual fix:
.chosen-container-single .chosen-search input
  box-sizing: border-box
